<div class="main-content">
    <img src="../../../assets/images/Title.jpg" alt="Main image">
 

<div class="content-description">
    <h1>Welcome to PageHub!</h1>
    <p>
      PageHub is your personal library app where you can add, view, and manage your book collection with ease. Explore our featured books and keep your library organized.
    </p>
 </div>   
 </div>
 <div class="secondary-content">
    <img src="../../../assets/images/Home.png" alt="second image" width="100%">
  
    <h1>Your Guide to Reading Happiness.</h1>
    <p class="minicontent">
      Discover the joy of reading with our PageHub, designed to help you effortlessly track your favorite books and explore new genres. With personalized recommendations and a user-friendly interface, you can cultivate a fulfilling reading journey that sparks happiness and enriches your life. Dive into a world of stories and let your imagination soar!
    </p>
    <h1>Genre</h1>
    <!-- New Image Card Section -->
    <div class="image-gallery">
      <mat-card class="gallery-card">
        <img mat-card-image src="../../../assets/images/Thriller.jpeg" alt="Thriller" class="fixed-image" />
        <mat-card-content>
          <h2 mat-card-title>Thriller</h2>
          <!-- <p mat-card-subtitle>Short description for Image 1.</p> -->
        </mat-card-content>
      </mat-card>
  
      <mat-card class="gallery-card">
        <img mat-card-image src="../../../assets/images/Fantasy.jpeg" alt="Fantasy" class="fixed-image" />
        <mat-card-content>
          <h2 mat-card-title>Fantasy</h2>
          <!-- <p mat-card-subtitle>Short description for Image 2.</p> -->
        </mat-card-content>
      </mat-card>
  
      <mat-card class="gallery-card">
        <img mat-card-image src="../../../assets/images/Comedy.jpeg" alt="Comedy" class="fixed-image"/>
        <mat-card-content>
          <h2 mat-card-title>Comedy</h2>
          <!-- <p mat-card-subtitle>Short description for Image 3.</p> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>