
<footer>
    <div class="footer-content">
      <!-- Centered footer title/logo -->
      <!-- <div class="footer-logo">
        <h2>Libby</h2>
      </div> -->
  
      <div class="footer-columns">
        <!-- Contact Info Section -->
        <div class="contact-info">
          <h2>Contact Us</h2>
          <p>Phone: +91 9876543210</p>
          <p>Email: libby&#64;gmail.com</p>
          <p>Visit Us:www.libby.com</p>
          <p>India</p>
        </div>
  
        <!-- Social Links Section -->
        <div class="social-links">
          <h2>Connect with Us</h2>
          <a href="#" target="_blank">Facebook</a>
          <a href="#" target="_blank">Instagram</a>
          <a href="#" target="_blank">Twitter</a>
        </div>
  
        <!-- Featured Books Section -->
        <div class="hours">
          <h2>Featured Books Genre</h2>
          <p>Fantasy</p>
          <p>Romance</p>
          <p>Comedy</p>
          <p>Thriller</p>
        </div>
      </div>
      <p>&copy; 2024 Libby,Inc. All rights reserved.</p>

    </div>
</footer>