<div class="main-content">
  <img src="../../../assets/images/Title.jpg" alt="Main image">


<div class="content-description">
  <h1>Welcome to PageHub!</h1>
  <p>
    PageHub is your personal library app where you can add, view, and manage your book collection with ease. Explore our featured books and keep your library organized.
  </p>
</div>   
</div>
<div class="secondary-content">
<h1>Genre</h1>
<!-- New Image Card Section -->
<div class="image-gallery">
  <mat-card class="gallery-card" (click)="goToGenre('Science')">
    <img mat-card-image src="../../../assets/images/science.jpg" alt="Science" class="fixed-image" />
    <mat-card-content>
      <h2 mat-card-title>Science</h2>
      <!-- <p mat-card-subtitle>Short description for Image 1.</p> -->
    </mat-card-content>
  </mat-card>

  <mat-card class="gallery-card" (click)="goToGenre('Fantasy')">
    <img mat-card-image src="../../../assets/images/Fantasy.jpeg" alt="Fantasy" class="fixed-image" />
    <mat-card-content>
      <h2 mat-card-title>Fantasy</h2>
      <!-- <p mat-card-subtitle>Short description for Image 2.</p> -->
    </mat-card-content>
  </mat-card>

  <mat-card class="gallery-card" (click)="goToGenre('Pets')">
    <img mat-card-image src="../../../assets/images/Pets.jpg" alt="Pets" class="fixed-image"/>
    <mat-card-content>
      <h2 mat-card-title>Pets</h2>
      <!-- <p mat-card-subtitle>Short description for Image 3.</p> -->
    </mat-card-content>
  </mat-card>
  <mat-card class="gallery-card" (click)="goToGenre('Sports')">
    <img mat-card-image src="../../../assets/images/Sports.jpg" alt="Sports" class="fixed-image" />
    <mat-card-content>
      <h2 mat-card-title>Sports</h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="gallery-card" (click)="goToGenre('Mystery')">
    <img mat-card-image src="../../../assets/images/Mystery.jpg" alt="Mystery" class="fixed-image" />
    <mat-card-content>
      <h2 mat-card-title>Mystery</h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="gallery-card" (click)="goToGenre('Literature')">
    <img mat-card-image src="../../../assets/images/Literature.jpg" alt="Literature" class="fixed-image" />
    <mat-card-content>
      <h2 mat-card-title>Literature</h2>
    </mat-card-content>
     </mat-card>
</div>
 <h1>Your Guide to Reading Happiness.</h1>
  <p class="minicontent">
    Discover the joy of reading with our PageHub, designed to help you effortlessly track your favorite books and explore new genres. With personalized recommendations and a user-friendly interface, you can cultivate a fulfilling reading journey that sparks happiness and enriches your life. Dive into a world of stories and let your imagination soar!
  </p>
  <img src="../../../assets/images/Home.png" alt="second image" width="100%">

 
  
  
 
</div>