.main-content img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    margin: 0; /* Removes any default margin */
    padding: 0; /* Removes any default padding */
  }


.content-description {
    margin-top: 24px;
    text-align: center;
    
    box-sizing: border-box;
  }
  
  .content-description h1 {
    font-size: 2rem;
    margin-bottom: 16px;
    font-style: initial;
    
  }
  
  .content-description p {
    font-size: 1.1rem;
    color: #333;
    font-style: oblique;
  }
  
  
  
.image-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 16px; /* Adds space above the cards */
  }
  
  .gallery-card {
    width: 30%; /* Each card takes up 30% of the container */
    margin: 0 10px; /* Optional: adds space between cards */
    transition: transform 0.2s; /* Adds a hover effect */
    
  }
  .gallery-card:hover {
    transform: scale(1.05); /* Zoom effect on hover */
  }
  
  .fixed-image {
    width: 100%; /* Make the image take the full width of the card */
    height: 200px; /* Fixed height */
    object-fit: cover; /* Ensures the image covers the area without stretching */
  }