<div class="main-content">
    <img src="https://wallpaperaccess.com/full/5487851.jpg" alt="Main image">
  </div>

<div class="content-description">
    <h1>Welcome to PageHub!</h1>
    <p>
      PageHub is your personal library app where you can add, view, and manage your book collection with ease. Explore our featured books and keep your library organized.
    </p>
    
    <img src="https://images2.imgbox.com/7a/59/4T0O4StO_o.png" alt="second image" width="100%">
  
    <h1>Your Guide to Reading Happiness.</h1>
    <p class="minicontent">
      Discover the joy of reading with our PageHub, designed to help you effortlessly track your favorite books and explore new genres. With personalized recommendations and a user-friendly interface, you can cultivate a fulfilling reading journey that sparks happiness and enriches your life. Dive into a world of stories and let your imagination soar!
    </p>
    <h1>Genre</h1>
    <!-- New Image Card Section -->
    <div class="image-gallery">
      <mat-card class="gallery-card">
        <img mat-card-image src="https://img.etimg.com/thumb/width-1200,height-1200,imgsize-151584,resizemode-75,msid-101785727/top-trending-products/books/15-psychological-thriller-books.jpg" alt="Thriller" class="fixed-image" />
        <mat-card-content>
          <h2 mat-card-title>Thriller</h2>
          <!-- <p mat-card-subtitle>Short description for Image 1.</p> -->
        </mat-card-content>
      </mat-card>
  
      <mat-card class="gallery-card">
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTe1ptlQwtc3GO7fgbD5RMz750AiL6qA4Sv5w&s" alt="Fantasy" class="fixed-image" />
        <mat-card-content>
          <h2 mat-card-title>Fantasy</h2>
          <!-- <p mat-card-subtitle>Short description for Image 2.</p> -->
        </mat-card-content>
      </mat-card>
  
      <mat-card class="gallery-card">
        <img mat-card-image src="https://c8.alamy.com/comp/S3RB2D/variety-of-colorful-books-on-shelf-S3RB2D.jpg" alt="Spirituality" class="fixed-image"/>
        <mat-card-content>
          <h2 mat-card-title>Spirituality</h2>
          <!-- <p mat-card-subtitle>Short description for Image 3.</p> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>